h2{
  @include text(32px,600,1.3,none,25px,$color-title);
}
.products__list-item{
//  display: inline-block;
  cursor: pointer;
}
// ! active для тени и цвета
.active{
  transition: all .5s;
  color: $color-hover;
  // position: relative;
  // &::after{
  //   @extend %element;
  //   @include element($color-hover, 400px, 50px, 0, 0, 0, -230%, 0);
  //   filter: blur(20px);
  // }
}
.products {
}
.products__inner {
}

.products__list {
  @extend %flex;
  justify-content: space-around;
  margin-bottom: 105px;
  position: relative;
  &::after{
    @extend %element;
    @include element(#CDCDCD, 100%, 1px, 110%, 0, 0, 0, 0);
  }
}
.products__list-item {
  font-size: 24px;
}
.active {
}

.products__body {
  display: flex;
  flex-direction: column;
}
.products__item {
  @extend %flex;
  align-items: start;
  margin-bottom: 80px;
  &:last-child{
    justify-content: start;
  }
}
.sand {
}
.products__image{
  margin-right: 40px;
  // width: 100%;
  // height: 100%;
  object-fit: cover;
}
.products__content {
}
.products__paragraph {
  @include text(18px,normal,1.3,800px,none,$color-title);
  margin-bottom: 25px;
  &:nth-child(2){
    span{
      font-weight: 500;
    }
  }
}
.paragraph__content--sand{
  margin-bottom: 60px;
}
.products__price-list {
}
.price-item {
  @include text(16px,300,1.3,630px,25px,$color-title);
  position: relative;
  &:last-child{
    margin-bottom: 0;
  }
  & + span{
    background-color: $color-hover;
  }
  span{
    display: inline-block;
    background-color: #ccc;
    width: 323px;
    height: 1px;
  }
}
.stone {
}
.aspchalt {
}